<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lr.mapper.ProductInfoMapper">

    <update id="updateStatus">
        update product_info set product_status = #{param2} where product_id = #{param1}
    </update>

</mapper>
